/* =============== Responsive =============== */
@media (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    background: #ffffff;
    position: absolute;
    top: 60px;
    right: 0;
    width: 200px;
    padding: 20px;
  }
  .nav-links.active {
    display: flex;
  }
  .hamburger {
    display: block;
  }
}


@media (min-width: 992px) {
  .recipes-container {
    grid-template-columns: repeat(3, 1fr); /* 3 columns on large screens */
  }
}

@keyframes pop {
  from { transform: scale(0.7); opacity: 0; }
  to { transform: scale(1); opacity: 1; }
}